---
import Holiday from '../components/Holiday.svelte';
import DateInputDropdown from '../components/DateInputDropdown.astro';
import DateInputSlider from '../components/DateInputSlider.astro'
import {bundeslaender, years} from '../data'
import schulferien from '../schulferien.json'
import HolidaysForYear from '../components/HolidaysForYear.astro';
import HolidayTable from '../components/HolidayTable.astro';
import Map from '../components/Map.astro'

const holidays: HolidayData = schulferien
---

<html>
    <head>
        <!-- <script src="public/script.js"></script> -->
    </head>
    <body>
        <div class="flex h-screen">
            <div class="w-full">
                <Map/>
            </div>
            <div class="w-full h-full overflow-y-auto bg-green-500">
                <DateInputDropdown/>
                <div class="flex">
                    <div class="w-12 bg-orange-500">
                        {bundeslaender.map(bid => <div class="h-7 w-full text-center">{bid}</div>)}
                    </div>
                    <div id="track" class="relative flex-grow">
                        <HolidayTable holidays={holidays}/>
                        <DateInputSlider/>
                    </div>
                </div>
                <div>
                    Vielen Dank an <a href="https://www.ferienwiki.de/">Ferien Wiki</a> fuer die Daten
                </div>
            </div>
        </div>
    </body>
</html>