<div>
    hello boiiiiiiiiiiiis
    
    
    <div x-data="dropdown">
        <button class="bg-green-500" @click="alert('Hello World!')">Say Hi</button>
        <button @click="open = ! open">Toggle Content</button>
     
        <div x-show="open">
            Content...
        </div>
    </div>
    <div x-data="dropdown">
        <button class="bg-green-500" @click="alert('Hello World!')">Say Hi</button>
        <button @click="open = ! open">Toggle Content</button>
     
        <div x-show="open">
            Content...
        </div>
    </div>
    <div x-data="dropdown">
        <button class="bg-green-500" @click="alert('Hello World!')">Say Hi</button>
        <button @click="open = ! open">Toggle Content</button>
     
        <div x-show="open">
            Content...
        </div>
    </div>

</div>
<script>
    import Alpine from "alpinejs";

    Alpine.data('schmopdown', () => ({
            moped: null,
 
        }))

    Alpine.data('dropdown', () => ({
            open: false,
 
            toggle() {
                this.open = ! this.open
            }
        }))
</script>