<div class="bg-blue-500">
    
    helo
    <input type="date" id="dateinputdropdown">
</div>


<script>
    import { selectedDate } from "../customstore";
    const inputElem = document.querySelector('input[id="dateinputdropdown"]') as HTMLInputElement

    selectedDate.listen(d => {
        inputElem.value = d.toISOString().split('T')[0]
    })

    // select moped by js
    // document.getElementById('mopedid')?.dispatchEvent()

    // const inputElement: HTMLInputElement | null = document.getElementById('dateinputdropdown')
    console.log(inputElem);
    inputElem?.addEventListener('change',(e) =>{
        const target = e.target as HTMLInputElement
        selectedDate.value = new Date(target.value)
    })

</script>