<div id="date-input__anchor" class="h-full w-0 top-0 absolute">
    <div id="date-input__draggable-area" class="w-5 h-full cursor-pointer" style="transform:translateX(-50%)">
        <div id="date-input__visible-area" class="w-1 bg-black h-full mx-auto"></div>
    </div>
</div>

<script>
    import { selectedDate } from "../customstore"
    import { dateToPercentageOfYearFactory } from "../utils"

    const $anchor = document.getElementById('date-input__anchor') as HTMLElement
    const $draggableArea = document.getElementById('date-input__draggable-area') as HTMLElement
    const $track = document.getElementById('track') as HTMLElement
    let dateToPercentage  = dateToPercentageOfYearFactory(selectedDate.value.getFullYear().toString())

    const controller = new AbortController();

    function clamp(min: number, max: number, number: number) {
        return Math.min(Math.max(number, min), max);
    };

    function mouseMoveListener(e: MouseEvent){
        const rect = $track.getBoundingClientRect()
        let percentage = 100 * (e.clientX - rect.left)/rect.width
        percentage = clamp(0, 100, percentage)
        const date = dateToPercentage.invert(percentage)
        
        selectedDate.value = date;
    }

    function attachMouseMoveListener(e: MouseEvent){
        e.preventDefault()
        document.addEventListener('mousemove', mouseMoveListener)
        mouseMoveListener(e)
        console.log('listener added');
    }

    $draggableArea.addEventListener('mousedown', attachMouseMoveListener)
    $track.addEventListener('mousedown', attachMouseMoveListener)

    document.addEventListener('mouseup', ()=>{
            document.removeEventListener('mousemove', mouseMoveListener)
            console.log('listener removed');
        })


    selectedDate.listen((date, previousDate) => {
        if (date.getFullYear() != previousDate.getFullYear()){
            dateToPercentage = dateToPercentageOfYearFactory(date.getFullYear().toString())
        }

        $anchor.style.left = dateToPercentage(date) + '%'

    })


    

</script>