---

// const {id}= Astro.props
---
<div class="dropdown dropdown--closed">
    <div class="dropdown__toggle">345345</div>
    <div class="dropdown__options-container">

    </div>
</div>

<script>
// click listener auf den einzelnen options
// Das change event muss aber von der dropdown class getriggert werden
// Wie bekomme ich den lachs hin?


// live cycle
// specify options via custom event
document.querySelectorAll('.dropdown').forEach(el => {
    (el as HTMLElement).addEventListener('change')
})

const event = new CustomEvent("build", { detail: elem.dataset.time });

// WARUM PASSEN WIR PROPS UEBER ATTRIBUTES, WARUM NICHT UEBER CUSTOM EVENTS?
// wir haben einen parent component
// der hat references zu den kinder componenten
// die child komponente hat eine draw method, welche mit prop changes assoziiert ist
// 

</script>

<style>
    .dropdown{
        width: 100px;
        position: relative;
    }
    .dropdown__options-container{
        position: absolute;
        background: green;
        width: 100%;
        z-index: 100;
    }
    .dropdown__toggle{
        background: red;
    }
</style>