---
import Holiday from './Holiday.astro';
import {dateToPercentageOfYearFactory} from '../utils'

interface Props{
    year: string
    holidays: HolidaysForYear
}

const {year, holidays} = Astro.props;

const dateToPercentage = dateToPercentageOfYearFactory(year)


function createHoliday(h: Holiday){
    return `<div>boiiii</div>`
}

function calculateStyle(h: Holiday){
    const startDate = new Date(h.start)
    const endDate = new Date(h.end)
    const left= dateToPercentage(startDate)
    const width= dateToPercentage(endDate) - dateToPercentage(startDate)
    return {
        left: left + '%', 
        width: width + '%'
    }
}
---
<div>
    {Object.entries(holidays).map(([bid, holidaysForBid])=>( 
        <div class="relative h-8 bg-blue-500">
            {holidaysForBid.map(h => {
                return <div class="absolute h-5 bg-green-300" style={calculateStyle(h)}></div>
            })}
        </div>
    ))}
</div>
